APP_NAME="Tel-U Cup"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://127.0.0.1:8000

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=telucup
DB_USERNAME=root
DB_PASSWORD=

QUEUE_CONNECTION=database

FASTAPI_URL=http://127.0.0.1:8001
AI_SERVICE_BASE_URL=http://127.0.0.1:8001
CHATBOT_INTERNAL_SECRET=
CHATBOT_RATE_LIMIT_PER_IP=10
